.album {
    background-color: black;
    width: 200px;
    height: 200px;
    transition: width 0.2s, height 0.2s, box-shadow 0.2s, margin 0.2s;
}
.album:hover {
    cursor: pointer;
    margin-bottom: 10px;
    width: 205px;
    height: 205px;
    box-shadow: 0.1rem 0.1rem 0.2rem !important;
}
.album > img {
    width: 100%;
    height: 100%;
}